%dom-module{ id: 'cmi-toggle-button' }
  %graspi-webcomponent-stylesheet/
  %template
    #toggleContainer
      #toggleBar.toggle-bar
      #toggleButton.toggle-button
        %paper-ripple{ id: 'ink', class: 'toggle-ink circle', center: true, recenters: true }

  %graspi-webcomponent-script/