%dom-module{ id: 'cmi-submenu' }
  %graspi-webcomponent-stylesheet/
  %template
    .selectable-content{ :'on-tap' => "_onTap" }
      %content{ id: "trigger", select: ".menu-trigger" }

    %iron-collapse{ id: "collapse", opened: "{{opened}}" }
      %content{ select: ".menu-content" }

  %graspi-webcomponent-script/