:host {
  @apply(--cmi-button-defaults);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin: 0 0.29em;
  @apply(--cmi-button); }
  :host > paper-ripple {
    @apply(--cmi-button-paper-ripple-defaults);
    @apply(--cmi-button-paper-ripple); }
  :host > paper-material {
    @apply(--cmi-button-paper-material-defaults);
    @apply(--cmi-button-paper-material); }
    :host > paper-material.keyboard-focus {
      @apply(--cmi-button-paper-material-keyboard-focused-defaults);
      @apply(--cmi-button-paper-material-keyboard-focused); }
  :host > .cmi-button {
    @apply(--cmi-button-inner-defaults);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    min-width: 5.14em;
    padding: 0.7em 1em;
    @apply(--cmi-button-inner); }
  :host ::content * {
    text-transform: inherit; }

:host([raised]) {
  @apply(--cmi-button-raised-defaults);
  @apply(--cmi-button-raised); }
  :host([raised]) > .cmi-button {
    @apply(--cmi-button-raised-inner-defaults);
    @apply(--cmi-button-raised-inner); }

:host([theme="primary"]) {
  @apply(--cmi-button-primary-defaults);
  @apply(--cmi-button-primary); }
  :host([theme="primary"]) > .cmi-button {
    @apply(--cmi-button-primary-inner-defaults);
    @apply(--cmi-button-primary-inner); }

:host([theme="highlight"]) {
  @apply(--cmi-button-highlight-defaults);
  @apply(--cmi-button-highlight); }
  :host([theme="highlight"]) > .cmi-button {
    @apply(--cmi-button-highlight-inner-defaults);
    @apply(--cmi-button-highlight-inner); }

:host([theme="danger"]) {
  @apply(--cmi-button-danger-defaults);
  @apply(--cmi-button-danger); }
  :host([theme="danger"]) > .cmi-button {
    @apply(--cmi-button-danger-inner-defaults);
    @apply(--cmi-button-danger-inner); }

:host([small]) {
  @apply(--cmi-button-small-defaults);
  @apply(--cmi-button-small); }
  :host([small]) > .cmi-button {
    @apply(--cmi-button-small-inner-defaults);
    padding: 0.4em 0.57em;
    @apply(--cmi-button-small-inner); }

:host([large]) {
  @apply(--cmi-button-large-defaults);
  line-height: 1.2;
  @apply(--cmi-button-large); }
  :host([large]) > .cmi-button {
    @apply(--cmi-button-large-inner-defaults);
    padding: 0.85em 1.2em;
    @apply(--cmi-button-large-inner); }

:host([filled]) {
  @apply(--cmi-button-filled-defaults);
  @apply(--cmi-button-filled); }
  :host([filled]) > .cmi-button {
    @apply(--cmi-button-filled-inner-defaults);
    @apply(--cmi-button-filled-inner); }

:host([filled][theme="primary"]) {
  @apply(--cmi-button-filled-primary-defaults);
  @apply(--cmi-button-filled-primary); }
  :host([filled][theme="primary"]) > .cmi-button {
    @apply(--cmi-button-filled-primary-inner-defaults);
    @apply(--cmi-button-filled-primary-inner); }

:host([filled][theme="highlight"]) {
  @apply(--cmi-button-filled-highlight-defaults);
  @apply(--cmi-button-filled-highlight); }
  :host([filled][theme="highlight"]) > .cmi-button {
    @apply(--cmi-button-filled-highlight-inner-defaults);
    @apply(--cmi-button-filled-highlight-inner); }
  :host([filled][theme="highlight"]) > paper-ripple {
    @apply(--cmi-button-filled-highlight-ripple-defaults); }

:host([filled][theme="danger"]) {
  @apply(--cmi-button-filled-danger-defaults);
  @apply(--cmi-button-filled-danger); }
  :host([filled][theme="danger"]) > .cmi-button {
    @apply(--cmi-button-filled-danger-inner-defaults);
    @apply(--cmi-button-filled-danger-inner); }
  :host([filled][theme="danger"]) > paper-ripple {
    @apply(--cmi-button-filled-danger-ripple-defaults); }

:host([block]) {
  display: block;
  @apply(--cmi-button-block); }
  :host([block]) > .cmi-button {
    @apply(--cmi-button-block-inner); }

:host([noink]) {
  @apply(--cmi-button-noink-defaults);
  @apply(--cmi-button-noink); }
  :host([noink]) > paper-ripple {
    @apply(--cmi-button-noink-paper-ripple-defaults);
    @apply(--cmi-button-noink-paper-ripple); }

:host([disabled]) {
  @apply(--cmi-button-disabled-defaults);
  @apply(--cmi-button-disabled); }
  :host([disabled]) > .cmi-button {
    @apply(--cmi-button-disabled-inner-defaults);
    @apply(--cmi-button-disabled-inner); }

/*# sourceMappingURL=cmi-button.css.map */
