%cmi-card-content{ :'line-top' => true }
  %cmi-pages-code-box
    %cmi-progress
    %cmi-button{ raised: true, onclick: "startProgress();" } Start

%cmi-card-content{ :'line-top' => true }
  %cmi-pages-code-box
    %cmi-progress{ indeterminate: true }
  %cmi-pages-code-box
    %cmi-progress{ indeterminate: true, class: 'blue', value: "800", min: "100", max: "1000" }

%cmi-card-content{ :'line-top' => true }
  %cmi-pages-code-box
    %cmi-progress{ value: "40", class: "blue" }
  %cmi-pages-code-box
    %cmi-progress{ value: "800", min: "100", max: "1000", class: "red" }
  %cmi-pages-code-box
    %cmi-progress{ value: "40", class: "orange" }
  %cmi-pages-code-box
    %cmi-progress{ value: "200", max: "200", class: "green" }
  %cmi-pages-code-box
    %cmi-progress{ value: "40", :'secondary-progress' => "80", class: "blue" }

:javascript
  var progress = document.querySelector('cmi-progress');
  var button = document.querySelector('cmi-button');

  var repeat, maxRepeat = 5, animating = false;

  function nextProgress() {
    animating = true;
    if (progress.value < progress.max) {
      progress.value += (progress.step || 1);
    } else {
      if (++repeat >= maxRepeat) {
        animating = false;
        button.disabled = false;
        return;
      }
      progress.value = progress.min;
    }

    requestAnimationFrame(nextProgress);
  }

  function startProgress() {
    repeat = 0;
    progress.value = progress.min;
    button.disabled = true;
    if (!animating) {
      nextProgress();
    }
  }

  window.addEventListener('WebComponentsReady', function() {
    startProgress();
  });