%link{ rel: 'import', href: '../polymer/polymer.html' }

/
  <cmi-input-behavior></cmi-input-behavior>

  @group CMI Elements
  @element cmi-input-behavior
  @demo demo/index.html

%dom-module{ id: 'cmi-input-behavior' }
  %link{ rel: 'import', type: 'css', href: './cmi-input-behavior.css' }
  %script{ src: './cmi-input-behavior.js' }
