.grid-row
  .grid-col-6
    %cmi-pages-code-box
      %cmi-fab
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ raised: true }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ noink: true }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ toggles: true }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ disabled: true }
        %i.mdi.mdi-check
  .grid-col-6
    %cmi-pages-code-box
      %a{ is: 'cmi-fab-link' }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %a{ is: 'cmi-fab-link', raised: true }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %a{ is: 'cmi-fab-link', noink: true }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %a{ is: 'cmi-fab-link', toggles: true }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %a{ is: 'cmi-fab-link', disabled: true }
        %i.mdi.mdi-check

%hr/

.grid-row
  .grid-col-6
    %cmi-pages-code-box
      %cmi-fab
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ theme: 'primary' }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ theme: 'highlight' }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ theme: 'danger' }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ filled: true }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ filled: true, theme: 'primary' }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ filled: true, theme: 'highlight' }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ filled: true, theme: 'danger' }
        %i.mdi.mdi-check
  .grid-col-6
    %cmi-pages-code-box
      %cmi-fab{ raised: true }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ raised: true, theme: 'primary' }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ raised: true, theme: 'highlight' }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ raised: true, theme: 'danger' }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ raised: true, filled: true }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ raised: true, filled: true, theme: 'primary' }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ raised: true, filled: true, theme: 'highlight' }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ raised: true, filled: true, theme: 'danger' }
        %i.mdi.mdi-check

%hr/

.grid-row
  .grid-col-6
    %cmi-pages-code-box
      %cmi-fab{ filled: true, small: true }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ filled: true, large: true }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ filled: true, block: true }
        %i.mdi.mdi-check
  .grid-col-6
    %cmi-pages-code-box
      %cmi-fab{ raised: true, filled: true, small: true }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ raised: true, filled: true, large: true }
        %i.mdi.mdi-check
    %cmi-pages-code-box
      %cmi-fab{ raised: true, filled: true, block: true }
        %i.mdi.mdi-check

%hr/

.grid-row
  .grid-col-12
    %cmi-pages-code-box
      %cmi-fab{ filled: true, block: true }
        %i.mdi.mdi-check
        My longer Text
    %br/
    %cmi-pages-code-box
      %cmi-fab{ small: true, filled: true, block: true, theme: "primary" }
        %i.mdi.mdi-check
        My longer Text
    %br/
    %cmi-pages-code-box
      %cmi-fab{ small: true, filled: true, block: true, text_right: true, theme: "highlight" }
        %i.mdi.mdi-check
        My longer Text
    %br/
    %cmi-pages-code-box
      %cmi-fab{ large: true, filled: true, block: true, text_left: true, theme: "danger" }
        %i.mdi.mdi-check
        My longer Text
