%cmi-card-content{ :'line-top' => true }
  %cmi-pages-code-box
    %cmi-radio-button Test

  %cmi-pages-code-box
    %cmi-radio-button{ checked: true } Test

  %cmi-pages-code-box
    %cmi-radio-button{ disabled: true } Test

  %cmi-pages-code-box
    %cmi-radio-button{ disabled: true, checked: true } Test

%cmi-card-content{ :'line-top' => true }

  %cmi-pages-code-box
    %cmi-radio-group{ selected: 'c' }
      %cmi-radio-button{ name: "o" } Oxygen
      %cmi-radio-button{ name: "c" } Carbon
      %cmi-radio-button{ name: "h" } Hydrogen
      %cmi-radio-button{ name: "n" } Nitrogen
      %cmi-radio-button{ name: "ca" } Calcium

  %cmi-pages-code-box
    %cmi-radio-group{ selected: 'c' }
      %cmi-radio-button{ name: "o" } Oxygen
      %cmi-radio-button{ name: "c" } Carbon
      %cmi-radio-button{ name: "h", disabled: true } Hydrogen
      %cmi-radio-button{ name: "n", disabled: true } Nitrogen
      %cmi-radio-button{ name: "ca" } Calcium
