%cmi-pages-code-box
  %cmi-toggle-button Test

%cmi-pages-code-box
  %cmi-toggle-button{ checked: true } Test

%cmi-pages-code-box
  %cmi-toggle-button{ disabled: true } Test

%cmi-pages-code-box
  %cmi-toggle-button{ disabled: true, checked: true } Test
