%link{href: "../iron-flex-layout/iron-flex-layout.html", rel: "import"}
%link{href: "../iron-flex-layout/classes/iron-flex-layout.html", rel: "import"}

%link{href: "color.html", rel: "import"}
%link{href: "default-theme.html", rel: "import"}
%link{href: "shadow.html", rel: "import"}
%link{href: "typography.html", rel: "import"}