%link{ rel: 'import', href: '../polymer/polymer.html' }
%link{ rel: 'import', href: './cmi-headline-behavior.html' }

/
  <h5 is="cmi-h5"></h5>

  @group CMI Elements
  @element cmi-h5
  @demo demo/index-h5.html

%dom-module{ id: 'cmi-h5' }
  %style{ include: 'cmi-headline-shared-style' }
  %link{ rel: 'import', type: 'css', href: './cmi-h5.css' }
  %template
    .h-line
    .h-inner
      %content
  %script{ src: './cmi-h5.js' }