
// ---------------------------------------------
// base - colors

$cmi-color-primary:     rgb(175, 210, 62) !default
$cmi-color-highlight:   rgb(251, 15, 78) !default
$cmi-color-danger:      rgb(240, 42, 34) !default
$cmi-color-gray:        rgb(243, 243, 243) !default

$cmi-color-text:        rgb(66, 66, 66) !default
$cmi-color-text-light:  rgb(245, 245, 245) !default
$cmi-color-disabled:    lighten($cmi-color-gray, 10%) !default


// ---------------------------------------------
// base - typography



// ---------------------------------------------
// paper

$cmi-paper-ripple:        rgba(0, 0, 0, 0.3) !default
$cmi-paper-ripple-light:  rgba(255, 255, 255, 1) !default


// ---------------------------------------------
// cmi-button
// cmi-button-link
// cmi-fab
// cmi-fab-link
// cmi-fab-slide

$cmi-button-color-primary:      $cmi-color-primary !default
$cmi-button-color-highlight:    $cmi-color-highlight !default
$cmi-button-color-danger:       $cmi-color-danger !default
$cmi-button-color-gray:         $cmi-color-gray !default

$cmi-button-color-text:         $cmi-color-text !default
$cmi-button-color-text-light:   $cmi-color-text-light !default

$cmi-button-paper-ripple:       $cmi-paper-ripple !default
$cmi-button-paper-ripple-light: $cmi-paper-ripple-light !default

$cmi-button-color-background-disabled: $cmi-color-disabled !default
$cmi-button-color-disabled:     lighten($cmi-color-text, 50%) !default
