%dom-module{ id: 'cmi-icon-item' }
  %graspi-webcomponent-stylesheet/
  %template
    #contentIcon.content-icon.layout.horizontal.center
      %content{ select: '[item-icon]' }

    %content

  %graspi-webcomponent-script/