%cmi-pages-code-box
  %cmi-checkbox Test

%cmi-pages-code-box
  %cmi-checkbox{ checked: true } Test

%cmi-pages-code-box
  %cmi-checkbox{ disabled: true } Test

%cmi-pages-code-box
  %cmi-checkbox{ disabled: true, checked: true } Test
