@import cmi_env

$cmi-button-filled-color-text-primary: $cmi-button-color-text !default

:host
  +user-select(none)
  background: transparent
  border-radius: 3px
  box-sizing: border-box
  cursor: pointer
  display: inline-block
  font: inherit
  margin: 0 0.29em
  min-width: 5.14em
  padding: 0.7em 0.57em
  position: relative
  text-align: center
  text-transform: uppercase
  outline: none
  outline-width: 0
  z-index: 0

  > paper-ripple
    color: $cmi-button-paper-ripple

  > .content
    +box-sizing(border-box)
    display: block
    position: relative
    color: $cmi-button-color-text
    ::content
      *
        text-transform: inherit

:host([theme="primary"])
  > .content
    color: $cmi-button-color-primary

:host([theme="highlight"])
  > .content
    color: $cmi-button-color-highlight

:host([theme="danger"])
  > .content
    color: $cmi-button-color-danger

:host([small])
  font-size: 90%
  padding: 0.4em 0.57em

:host([large])
  font-size: 115%
  line-height: 1.2
  padding: 0.85em 1.2em

:host([filled])
  background-color: $cmi-button-color-gray

:host([filled][theme="primary"])
  background-color: $cmi-button-color-primary
  > .content
    color: $cmi-button-filled-color-text-primary

:host([filled][theme="highlight"])
  background-color: $cmi-button-color-highlight
  > .content
    color: $cmi-button-color-text
  > paper-ripple
    color: $cmi-button-paper-ripple-light

:host([filled][theme="danger"])
  background-color: $cmi-button-color-danger
  > .content
    color: $cmi-button-color-text-light
  > paper-ripple
    color: $cmi-button-paper-ripple-light

:host([block])
  display: block

:host([noink])
  > paper-ripple
    display: none

:host([disabled])
  background-color: $cmi-button-color-background-disabled
  color: #a8a8a8
  cursor: auto
  pointer-events: none
  > .content
    color: $cmi-button-color-disabled


