%link{ rel: 'import', href: '../polymer/polymer.html' }
%link{ rel: 'import', href: '../iron-checked-element-behavior/iron-checked-element-behavior.html' }
%link{ rel: 'import', href: '../paper-ripple/paper-ripple.html' }
%link{ rel: 'import', href: '../paper-behaviors/paper-inky-focus-behavior.html' }

/
  `<cmi-checkbox>My checkbox</cmi-checkbox>`

  @group CMI Elements
  @element cmi-checkbox
  @demo demo/index.html

%dom-module{ id: 'cmi-checkbox' }
  %link{ rel: 'import', type: 'css', href: './cmi-checkbox.css' }
  %template
    #checkboxContainer
      %paper-ripple{ id: 'ink', class: 'circle', center: true, :'checked$' => "[[checked]]" }
      #checkbox{ :'class$' => "[[_computeCheckboxClass(checked)]]" }
        #checkmark{ :'class$' => "[[_computeCheckmarkClass(checked)]]" }

    #checkboxLabel{ :'aria-hidden' => "true" }
      %content

  %script{ src: './cmi-checkbox.js' }