%h2#flex-lists Flex lists

= code_2 do
  .cmi-flex-list-table.cmi-flex-list-table-striped.cmi-flex-list-table-hoverable
    %ul.cmi-flex-list-table-headline
      %li Column 1
      %li Column 2
      %li Column 4
    %ul
      %li Row 1 - 1
      %li Row 1 - 2
      %li
        %cmi-button{ small: true, filled: true } Button
    %ul
      %li Row 2 - 1
      %li Row 2 - 2
      %li
        %cmi-button{ small: true, filled: true } Button
    %ul
      %li Row 3 - 1
      %li Row 3 - 2
      %li
        %cmi-button{ small: true, filled: true } Button
    %ul
      %li Row 4 - 1
      %li Row 4 - 2
      %li
        %cmi-button{ small: true, filled: true } Button


%h3 Active rows

= code_2 do
  .cmi-flex-list-table.cmi-flex-list-table-striped.cmi-flex-list-table-hoverable
    %ul.cmi-flex-list-table-headline
      %li Column 1
      %li Column 2
      %li Column 4
    %ul
      %li Row 1 - 1
      %li Row 1 - 2
      %li
        %cmi-button{ small: true, filled: true } Button
    %ul.cmi-active
      %li Row 2 - 1
      %li Row 2 - 2
      %li
        %cmi-button{ small: true, filled: true } Button
    %ul.cmi-active
      %li Row 3 - 1
      %li Row 3 - 2
      %li
        %cmi-button{ small: true, filled: true } Button
    %ul
      %li Row 4 - 1
      %li Row 4 - 2
      %li
        %cmi-button{ small: true, filled: true } Button
