%h2#icons.lined
  %span Icons
%p
  See google material design icons with community extension:
%ul
  %cmi-button{ href: 'http://materialdesignicons.com/', target: '_blank', title: "materialdesignicons", filled: true, large: true, theme: "primary" } Material Design Icons
  %li= link_to 'Material Design Icons', 'http://materialdesignicons.com/', target: :blank, class: 'cmi-a'

%i.mdi.mdi-bell