:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

#drawer_left,
#drawer_right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  top: 0;
  background-color: white;
  z-index: 1;
  @apply(--paper-drawer-panel-drawer-container); }

#drawer_left {
  left: 0; }

#drawer_right {
  right: 0; }

#drawer_main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  @apply(--paper-drawer-panel-main-container); }

.transition #drawer_left,
.transition #drawer_right {
  -webkit-transition: -webkit-transform ease-in-out 0.3s, width ease-in-out 0.3s, visibility 0.3s;
  -moz-transition: -moz-transform ease-in-out 0.3s, width ease-in-out 0.3s, visibility 0.3s;
  transition: transform ease-in-out 0.3s, width ease-in-out 0.3s, visibility 0.3s; }
.transition #drawer_main {
  -webkit-transition: ease-in-out 0.3s, padding ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s, padding ease-in-out 0.3s;
  transition: ease-in-out 0.3s, padding ease-in-out 0.3s; }

#drawer_main > ::content > [main] {
  height: 100%; }

#drawer_left > ::content > [drawer_left] {
  height: 100%;
  border: 0; }

#drawer_right > ::content > [drawer_right] {
  height: 100%;
  border: 0; }

#scrim {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: opacity ease-in-out 0.38s, visibility ease-in-out 0.38s;
  -moz-transition: opacity ease-in-out 0.38s, visibility ease-in-out 0.38s;
  transition: opacity ease-in-out 0.38s, visibility ease-in-out 0.38s;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3); }

#drawer_left,
#drawer_right {
  will-change: transform; }

#drawer_left.iron-selected {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15); }

#drawer_right.iron-selected {
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15); }

#drawer_left:not(.iron-selected) {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%); }

#drawer_right:not(.iron-selected) {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  left: auto;
  visibility: hidden; }

.dragging > #drawer_left:not(.iron-selected),
.dragging > #drawer_right:not(.iron-selected),
.peeking > #drawer_left:not(.iron-selected),
.peeking > #drawer_right:not(.iron-selected) {
  visibility: visible; }

#drawer_main:not(.iron-selected) > #scrim,
.dragging > #drawer_main > #scrim {
  visibility: visible;
  opacity: var(--paper-drawer-panel-scrim-opacity, 1); }

#drawer_main > * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  min-height: 100%;
  left: 0;
  right: 0; }

iron-selector:not(.narrow-layout) #drawer_main ::content [paper-drawer-toggle] {
  display: none; }

/*# sourceMappingURL=cmi-drawer-navigation.css.map */
