.grid-row
  .grid-col-6
    %cmi-pages-code-box
      %cmi-button Button
    %cmi-pages-code-box
      %cmi-button{ raised: true } Button
    %cmi-pages-code-box
      %cmi-button{ noink: true } Button
    %cmi-pages-code-box
      %cmi-button{ toggles: true } Button
    %cmi-pages-code-box
      %cmi-button{ disabled: true } Button
  .grid-col-6
    %cmi-pages-code-box
      %a{ is: 'cmi-button-link' } Button
    %cmi-pages-code-box
      %a{ is: 'cmi-button-link', raised: true } Button
    %cmi-pages-code-box
      %a{ is: 'cmi-button-link', noink: true } Button
    %cmi-pages-code-box
      %a{ is: 'cmi-button-link', toggles: true } Button
    %cmi-pages-code-box
      %a{ is: 'cmi-button-link', disabled: true } Button

%hr/

.grid-row
  .grid-col-6
    %cmi-pages-code-box
      %cmi-button Button
    %cmi-pages-code-box
      %cmi-button{ theme: 'primary' } Button
    %cmi-pages-code-box
      %cmi-button{ theme: 'highlight' } Button
    %cmi-pages-code-box
      %cmi-button{ theme: 'danger' } Button
    %cmi-pages-code-box
      %cmi-button{ filled: true } Button
    %cmi-pages-code-box
      %cmi-button{ filled: true, theme: 'primary' } Button
    %cmi-pages-code-box
      %cmi-button{ filled: true, theme: 'highlight' } Button
    %cmi-pages-code-box
      %cmi-button{ filled: true, theme: 'danger' } Button
  .grid-col-6
    %cmi-pages-code-box
      %cmi-button{ raised: true } Button
    %cmi-pages-code-box
      %cmi-button{ raised: true, theme: 'primary' } Button
    %cmi-pages-code-box
      %cmi-button{ raised: true, theme: 'highlight' } Button
    %cmi-pages-code-box
      %cmi-button{ raised: true, theme: 'danger' } Button
    %cmi-pages-code-box
      %cmi-button{ raised: true, filled: true } Button
    %cmi-pages-code-box
      %cmi-button{ raised: true, filled: true, theme: 'primary' } Button
    %cmi-pages-code-box
      %cmi-button{ raised: true, filled: true, theme: 'highlight' } Button
    %cmi-pages-code-box
      %cmi-button{ raised: true, filled: true, theme: 'danger' } Button

%hr/

.grid-row
  .grid-col-6
    %cmi-pages-code-box
      %cmi-button{ filled: true, small: true } Button
    %cmi-pages-code-box
      %cmi-button{ filled: true, large: true } Button
    %cmi-pages-code-box
      %cmi-button{ filled: true, block: true } Button
  .grid-col-6
    %cmi-pages-code-box
      %cmi-button{ raised: true, filled: true, small: true } Button
    %cmi-pages-code-box
      %cmi-button{ raised: true, filled: true, large: true } Button
    %cmi-pages-code-box
      %cmi-button{ raised: true, filled: true, block: true } Button

%hr/

%cmi-pages-code-box
  %cmi-button><
    %i.mdi.mdi-check><
    &nbsp; Button
%cmi-pages-code-box
  %cmi-button{ theme: 'primary' }
    %i.mdi.mdi-check
    &nbsp; Button
%cmi-pages-code-box
  %cmi-button{ theme: 'highlight' }
    %i.mdi.mdi-check
    &nbsp; Button
%cmi-pages-code-box
  %cmi-button{ theme: 'danger' }
    %i.mdi.mdi-check
    &nbsp; Button
%cmi-pages-code-box
  %cmi-button{ cmi: { raised: true } }
    %i.mdi.mdi-check
    &nbsp; Button
%cmi-pages-code-box
  %cmi-button{ raised: true, theme: 'primary' }
    %i.mdi.mdi-check
    &nbsp; Button
%cmi-pages-code-box
  %cmi-button{ raised: true, theme: 'highlight' }
    %i.mdi.mdi-check
    &nbsp; Button
%cmi-pages-code-box
  %cmi-button{ raised: true, theme: 'danger' }
    %i.mdi.mdi-check
    &nbsp; Button
