.grid-row
  .grid-col-12
    %cmi-pages-code-box
      %cmi-fab-slide{ open: true, filled: true }
        %cmi-fab-slide-icon
          %i.mdi.mdi-check
        %cmi-fab-slide-content
          My longer Text
    %br/
    %cmi-pages-code-box
      %cmi-fab-slide{ open: true, filled: true, theme: "primary" }
        %cmi-fab-slide-icon
          %i.mdi.mdi-check
        %cmi-fab-slide-content
          My longer Text
    %br/
    %cmi-pages-code-box
      %cmi-fab-slide{ open: true, filled: true, small: true, theme: "highlight" }
        %cmi-fab-slide-icon
          %i.mdi.mdi-check
        %cmi-fab-slide-content
          My longer Text
    %br/
    %cmi-pages-code-box
      %cmi-fab-slide{ open: true, filled: true, large: true, theme: "danger" }
        %cmi-fab-slide-icon
          %i.mdi.mdi-check
        %cmi-fab-slide-content
          My longer Text

%hr/

.grid-row
  .grid-col-12
    %h3 Hover

    %cmi-pages-code-box
      %cmi-fab-slide{ hover: true, filled: true }
        %cmi-fab-slide-icon
          %i.mdi.mdi-check
        %cmi-fab-slide-content
          My longer Text
    %br/
    %cmi-pages-code-box
      %cmi-fab-slide{ hover: true, filled: true, theme: "primary" }
        %cmi-fab-slide-icon
          %i.mdi.mdi-check
        %cmi-fab-slide-content
          My longer Text
    %br/
    %cmi-pages-code-box
      %cmi-fab-slide{ hover: true, filled: true, small: true, theme: "highlight" }
        %cmi-fab-slide-icon
          %i.mdi.mdi-check
        %cmi-fab-slide-content
          My longer Text
    %br/
    %cmi-pages-code-box
      %cmi-fab-slide{ hover: true, filled: true, large:true, theme: "danger" }
        %cmi-fab-slide-icon
          %i.mdi.mdi-check
        %cmi-fab-slide-content
          My longer Text