%link{ rel: 'import', href: '../polymer/polymer.html' }

/
  <cmi-table></cmi-table>

  @group CMI Elements
  @element cmi-table
  @demo demo/index.html

%dom-module{ id: 'cmi-table' }
  %link{ rel: 'import', type: 'css', href: './cmi-table.css' }
  %template
    %content

  %script{ src: './cmi-table.js' }