%paper-menu{ selected: '0' }
  %paper-item{ noink: true }
    %a.flex{ href: 'index.html' } Home
  %paper-submenu
    %paper-item{ class: 'menu-trigger' }
      %a{ href: 'buttons.html' } Buttons
  %paper-submenu
    %paper-item{ class: 'menu-trigger' }
      %a{ href: 'cards.html' } Cards
    %paper-menu{ class: 'menu-content sublist' }
      %paper-item
        %a{ href: 'index.html' } Home
  %paper-submenu
    %paper-item{ class: 'menu-trigger' }
      %a{ href: 'form-elements.html' } Form elements
  %paper-submenu
    %paper-item{ class: 'menu-trigger' }
      %a{ href: 'indicators.html' } Indicators
  %paper-submenu
    %paper-item{ class: 'menu-trigger' }
      %a{ href: 'dialog.html' } Dialogs

  %paper-item{ noink: true }
    %a.flex{ href: 'dropdown-menu.html' } Dropdown menu

%hr/