%graspi-webcomponent-stylesheet/
%dom-module#cmi-pages-code-box
  %template
    .grid-row

      .grid-col-6.col-left
        %content

      .grid-col-6.col-right
        %pre.cmi-gh-pages-code
          {{contentHtml}}

  %graspi-webcomponent-script/
