%dom-module{ id: 'cmi-pages-code-box' }
  %graspi-webcomponent-stylesheet/
  %template
    .grid-row
      %div{ :'class$' => "[[_computeLeftColClasses(leftCols)]]" }
        %content

      %div{ :'class$' => "[[_computeRightColClasses(rightCols)]]" }
        %pre.cmi-gh-pages-code= "{{contentHtml}}"

  %graspi-webcomponent-script/