:host {
  @apply(--cmi-button-defaults);
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  margin: 0 0.29em;
  @apply(--cmi-fab-slide); }
  :host > paper-ripple {
    @apply(--cmi-button-paper-ripple-defaults);
    @apply(--cmi-fab-slide-paper-ripple); }
  :host > paper-material {
    @apply(--cmi-button-paper-material-defaults);
    @apply(--cmi-fab-slide-paper-material); }
    :host > paper-material.keyboard-focus {
      @apply(--cmi-button-paper-material-keyboard-focused-defaults);
      @apply(--cmi-fab-slide-paper-material-keyboard-focused); }
  :host > .cmi-button {
    @apply(--cmi-button-inner-defaults);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    *zoom: 1;
    min-width: 49px;
    min-height: 49px;
    font-size: 17px;
    @apply(--cmi-fab-slide-inner); }
    :host > .cmi-button:before, :host > .cmi-button:after {
      content: " ";
      display: table; }
    :host > .cmi-button:after {
      clear: both; }
  :host ::content * {
    text-transform: inherit; }
  :host ::content cmi-fab-slide-icon,
  :host ::content cmi-fab-slide-content {
    position: relative;
    display: block;
    float: left;
    white-space: nowrap; }
  :host ::content cmi-fab-slide-icon {
    padding: 16px;
    width: 49px;
    height: 49px;
    line-height: 1; }
  :host ::content cmi-fab-slide-content {
    -webkit-transition-property: margin-right max-width;
    -moz-transition-property: margin-right max-width;
    transition-property: margin-right max-width;
    -webkit-transition-duration: var(--cmi-fab-slide-animation-duration, 0.25s);
    -moz-transition-duration: var(--cmi-fab-slide-animation-duration, 0.25s);
    transition-duration: var(--cmi-fab-slide-animation-duration, 0.25s);
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-delay: var(--cmi-fab-slide-animation-close-delay, 0.3s);
    -moz-transition-delay: var(--cmi-fab-slide-animation-close-delay, 0.3s);
    transition-delay: var(--cmi-fab-slide-animation-close-delay, 0.3s);
    overflow: hidden;
    max-width: 0px;
    margin-right: 0px;
    padding: 16px 0;
    float: right;
    font-size: 15px;
    line-height: 17px; }

:host([raised]) {
  @apply(--cmi-button-raised-defaults);
  @apply(--cmi-fab-slide-raised); }
  :host([raised]) > .cmi-button {
    @apply(--cmi-button-raised-inner-defaults);
    @apply(--cmi-fab-slide-raised-inner); }

:host([theme="primary"]) {
  @apply(--cmi-button-primary-defaults);
  @apply(--cmi-fab-slide-primary); }
  :host([theme="primary"]) > .cmi-button {
    @apply(--cmi-button-primary-inner-defaults);
    @apply(--cmi-fab-slide-primary-inner); }

:host([theme="highlight"]) {
  @apply(--cmi-button-highlight-defaults);
  @apply(--cmi-fab-slide-highlight); }
  :host([theme="highlight"]) > .cmi-button {
    @apply(--cmi-button-highlight-inner-defaults);
    @apply(--cmi-fab-slide-highlight-inner); }

:host([theme="danger"]) {
  @apply(--cmi-button-danger-defaults);
  @apply(--cmi-fab-slide-danger); }
  :host([theme="danger"]) > .cmi-button {
    @apply(--cmi-button-danger-inner-defaults);
    @apply(--cmi-fab-slide-danger-inner); }

:host([small]) {
  @apply(--cmi-button-small-defaults);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
  @apply(--cmi-fab-slide-small); }
  :host([small]) > .cmi-button {
    @apply(--cmi-button-small-inner-defaults);
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    min-width: 44px;
    min-height: 44px;
    font-size: 14px;
    @apply(--cmi-fab-slide-small-inner); }
  :host([small]) ::content cmi-fab-slide-icon {
    padding: 15px;
    width: 44px;
    height: 44px; }
  :host([small]) ::content cmi-fab-slide-content {
    padding: 15px 0;
    float: right;
    font-size: 14px;
    line-height: 14px; }

:host([large]) {
  @apply(--cmi-button-large-defaults);
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 34px;
  border-bottom-right-radius: 34px;
  @apply(--cmi-fab-slide-large); }
  :host([large]) > .cmi-button {
    @apply(--cmi-button-large-inner-defaults);
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    min-width: 67px;
    min-height: 67px;
    font-size: 21px;
    @apply(--cmi-fab-slide-large-inner); }
  :host([large]) ::content cmi-fab-slide-icon {
    padding: 23px;
    width: 67px;
    height: 67px; }
  :host([large]) ::content cmi-fab-slide-content {
    padding: 23px 0;
    float: right;
    font-size: 19px;
    line-height: 21px; }

:host([filled]) {
  @apply(--cmi-button-filled-defaults);
  @apply(--cmi-fab-slide-filled); }
  :host([filled]) > .cmi-button {
    @apply(--cmi-button-filled-inner-defaults);
    @apply(--cmi-fab-slide-filled-inner); }

:host([filled][theme="primary"]) {
  @apply(--cmi-button-filled-primary-defaults);
  @apply(--cmi-fab-slide-filled-primary); }
  :host([filled][theme="primary"]) > .cmi-button {
    @apply(--cmi-button-filled-primary-inner-defaults);
    @apply(--cmi-fab-slide-filled-primary-inner); }

:host([filled][theme="highlight"]) {
  @apply(--cmi-button-filled-highlight-defaults);
  @apply(--cmi-fab-slide-filled-highlight); }
  :host([filled][theme="highlight"]) > .cmi-button {
    @apply(--cmi-button-filled-highlight-inner-defaults);
    @apply(--cmi-fab-slide-filled-highlight-inner); }
  :host([filled][theme="highlight"]) > paper-ripple {
    @apply(--cmi-button-filled-highlight-ripple-defaults); }

:host([filled][theme="danger"]) {
  @apply(--cmi-button-filled-danger-defaults);
  @apply(--cmi-fab-slide-filled-danger); }
  :host([filled][theme="danger"]) > .cmi-button {
    @apply(--cmi-button-filled-danger-inner-defaults);
    @apply(--cmi-fab-slide-filled-danger-inner); }
  :host([filled][theme="danger"]) > paper-ripple {
    @apply(--cmi-button-filled-danger-ripple-defaults); }

:host([noink]) {
  @apply(--cmi-button-noink-defaults);
  @apply(--cmi-fab-slide-noink); }
  :host([noink]) > paper-ripple {
    @apply(--cmi-button-noink-paper-ripple-defaults);
    @apply(--cmi-fab-slide-noink-paper-ripple); }

:host([disabled]) {
  @apply(--cmi-button-disabled-defaults);
  @apply(--cmi-fab-slide-disabled); }
  :host([disabled]) > .cmi-button {
    @apply(--cmi-button-disabled-inner-defaults);
    @apply(--cmi-fab-slide-disabled-inner); }

:host([open]) ::content cmi-fab-slide-content {
  -webkit-transition-property: margin-right max-width;
  -moz-transition-property: margin-right max-width;
  transition-property: margin-right max-width;
  -webkit-transition-duration: var(--cmi-fab-slide-animation-duration, 0.25s);
  -moz-transition-duration: var(--cmi-fab-slide-animation-duration, 0.25s);
  transition-duration: var(--cmi-fab-slide-animation-duration, 0.25s);
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  max-width: var(--cmi-fab-slide-animation-max-width, 400px);
  margin-right: 16px;
  margin-left: -8px; }

:host([open][small]) ::content cmi-fab-slide-content {
  margin-right: 15px;
  margin-left: -7.5px; }

:host([open][large]) ::content cmi-fab-slide-content {
  margin-right: 23px;
  margin-left: -11.5px; }

/*# sourceMappingURL=cmi-fab-slide.css.map */
