@import cmi_env

$normal-border-radius: 28px
$normal-size: 49px
$normal-font-size: 17px
$normal-padding: ($normal-size - $normal-font-size) / 2

$small-border-radius: 22px
$small-size: 44px
$small-font-size: 14px
$small-padding: ($small-size - $small-font-size) / 2

$large-border-radius: 34px
$large-size: 67px
$large-font-size: 21px
$large-padding: ($large-size - $large-font-size) / 2

:host
  +border-top-radius($normal-border-radius)
  +border-bottom-radius($normal-border-radius)
  font-size: $normal-font-size
  height: $normal-size
  line-height: 1
  margin: 0 0.29em
  min-width: 0
  padding: $normal-padding
  width: $normal-size

  ::content
    line-height: 1

    *
      text-transform: inherit

    iron-icon
      font-size: $normal-font-size
      height: $normal-font-size !important
      line-height: 1
      width: $normal-font-size !important

:host([small])
  +border-top-radius($small-border-radius)
  +border-bottom-radius($small-border-radius)
  font-size: $small-font-size
  height: $small-size
  line-height: 1
  min-width: 0
  padding: $small-padding
  width: $small-size

  ::content
    iron-icon
      font-size: $small-font-size
      height: $small-font-size !important
      width: $small-font-size !important

:host([large])
  +border-top-radius($large-border-radius)
  +border-bottom-radius($large-border-radius)
  font-size: $large-font-size
  height: $large-size
  line-height: 1
  min-width: 0
  padding: $large-padding
  width: $large-size

  ::content
    iron-icon
      font-size: $large-font-size
      height: $large-font-size !important
      width: $large-font-size !important

:host([block])
  display: block
  width: auto

:host([block][text_left])
  text-align: left

:host([block][text_right])
  text-align: right
