%dom-module{ id: 'cmi-h5', name: 'cmi-h5' }
  %template
    %style{ include: 'cmi-headlines-behavior' }
    %graspi-webcomponent-stylesheet/
    .h-line
    .h-inner
      %content

  %graspi-webcomponent-script/
