!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes", :name => "viewport"}
    %title cmi-slider demo
    %script{:src => "../../webcomponentsjs/webcomponents-lite.js"}
    %link{:href => "../../cmi-doc-code-box/cmi-doc-code-box.html", :rel => "import"}
    %link{:href => "../cmi-slider.html", :rel => "import"}
    %link{:href => "../../paper-styles/demo-pages.html", :rel => "import"}

    :plain
      <style is="custom-style">
        body {
          padding: 40px;
        }

        paper-slider {
          width: 100%;
        }

        paper-slider.blue {
          --paper-slider-knob-color: var(--paper-light-blue-500);
          --paper-slider-active-color: var(--paper-light-blue-500);
        }

        paper-slider.red {
          --paper-slider-knob-color: var(--paper-red-500);
          --paper-slider-active-color: var(--paper-red-500);
        }

        paper-slider.green {
          --paper-slider-knob-color: var(--paper-green-500);
          --paper-slider-active-color: var(--paper-green-500);
        }

        paper-slider.orange {
          --paper-slider-knob-color: var(--paper-orange-500);
          --paper-slider-active-color: var(--paper-orange-500);
          --paper-slider-pin-color: var(--paper-orange-500);
        }

        #ratingsLabel {
          padding-left: 12px;
          color: #a0a0a0;
        }

      </style>

  %body{ unresolved: true }
    .vertical.center-justified.layout
      %h4 Default
      .vertical-section
        %div Oxygen
        %cmi-doc-code-box{ :'left-cols' => '12', :'right-cols' => '12' }
          %cmi-slider{ value: "21" }

        %div Argon
        %cmi-doc-code-box{ :'left-cols' => '12', :'right-cols' => '12' }
          %cmi-slider{ value: "1" }

        %div Hydrogen
        %cmi-doc-code-box{ :'left-cols' => '12', :'right-cols' => '12' }
          %cmi-slider{ value: "0" }

        %div Nitrogen
        %cmi-doc-code-box{ :'left-cols' => '12', :'right-cols' => '12' }
          %cmi-slider{ value: "78" }

        %div Sprinkles
        %cmi-doc-code-box{ :'left-cols' => '12', :'right-cols' => '12' }
          %cmi-slider{ disabled: true, value: "33" }

      %h4 Editable
      .vertical-section
        .center.horizontal.layout
          %div R
          %cmi-doc-code-box{ :'left-cols' => '12', :'right-cols' => '12' }
            %cmi-slider{ class: "red", value: "23", max: "255", editable: true }

        .center.horizontal.layout
          %div G
          %cmi-doc-code-box{ :'left-cols' => '12', :'right-cols' => '12' }
            %cmi-slider{ class: "green", value: "183", max: "255", editable: true }

        .center.horizontal.layout
          %div B
          %cmi-doc-code-box{ :'left-cols' => '12', :'right-cols' => '12' }
            %cmi-slider{ class: "blue", value: "211", max: "255", editable: true }

        .center.horizontal.layout
          %div &alpha;
          %cmi-doc-code-box{ :'left-cols' => '12', :'right-cols' => '12' }
            %cmi-slider{ max: "1.0", step: "0.01", editable: true }

      %h4 Labelled pins
      .vertical-section
        %div Brightness
        %cmi-doc-code-box{ :'left-cols' => '12', :'right-cols' => '12' }
          %cmi-slider{ pin: true, value: "20", class: "orange" }

        %cmi-doc-code-box{ :'left-cols' => '12', :'right-cols' => '12' }
          %div
            Ratings:
            %span{ id: "ratingsLabel" }
          %br/
          %cmi-slider{ id: "ratings", pin: true, snaps: true, max: "10", step: "1", value: "5", class: "orange" }


:plain
  <script>
    var ratings = document.querySelector('#ratings');
    ratings.addEventListener('value-change', function() {
      document.querySelector('#ratingsLabel').textContent = ratings.value;
    });
  </script>
