html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.grid-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  .grid-container::after {
    clear: both;
    content: "";
    display: table; }

.grid-row {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto; }
  .grid-row::after {
    clear: both;
    content: "";
    display: table; }

[class*='grid-col-'] {
  position: relative;
  padding-left: 1.618em;
  padding-right: 1.618em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid-col-1 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 8.3333333333%; }
  .grid-col-1:last-child {
    margin-right: 0; }

.grid-col-2 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 16.6666666667%; }
  .grid-col-2:last-child {
    margin-right: 0; }

.grid-col-3 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 25%; }
  .grid-col-3:last-child {
    margin-right: 0; }

.grid-col-4 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 33.3333333333%; }
  .grid-col-4:last-child {
    margin-right: 0; }

.grid-col-5 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 41.6666666667%; }
  .grid-col-5:last-child {
    margin-right: 0; }

.grid-col-6 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%; }
  .grid-col-6:last-child {
    margin-right: 0; }

.grid-col-7 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 58.3333333333%; }
  .grid-col-7:last-child {
    margin-right: 0; }

.grid-col-8 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 66.6666666667%; }
  .grid-col-8:last-child {
    margin-right: 0; }

.grid-col-9 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 75.0%; }
  .grid-col-9:last-child {
    margin-right: 0; }

.grid-col-10 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 83.3333333333%; }
  .grid-col-10:last-child {
    margin-right: 0; }

.grid-col-11 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 91.6666666667%; }
  .grid-col-11:last-child {
    margin-right: 0; }

.grid-col-12 {
  float: left;
  display: block;
  margin-right: 0%;
  width: 100%; }
  .grid-col-12:last-child {
    margin-right: 0; }

.grid-col-offset-1 {
  margin-left: 8.3333333333%; }

.grid-col-offset-2 {
  margin-left: 16.6666666667%; }

.grid-col-offset-3 {
  margin-left: 25.0%; }

.grid-col-offset-4 {
  margin-left: 33.3333333333%; }

.grid-col-offset-5 {
  margin-left: 41.6666666667%; }

.grid-col-offset-6 {
  margin-left: 50.0%; }

.grid-col-offset-7 {
  margin-left: 58.3333333333%; }

.grid-col-offset-8 {
  margin-left: 66.6666666667%; }

.grid-col-offset-9 {
  margin-left: 75.0%; }

.grid-col-offset-10 {
  margin-left: 83.3333333333%; }

.grid-col-offset-11 {
  margin-left: 91.6666666667%; }

header#top {
  background-color: #afd23e;
  background-image: -webkit-radial-gradient(50% 50%, circle, #c0dc67 10%, #afd23e 70%, #93b32a);
  background-image: radial-gradient(  circle at 50% 50%, #c0dc67 10%, #afd23e 70%, #93b32a); }
  header#top nav {
    position: relative;
    margin: 10px 0 0 0; }
    header#top nav ul {
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none; }
      header#top nav ul::after {
        clear: both;
        content: "";
        display: table; }
    header#top nav li {
      position: relative;
      float: left; }
      header#top nav li + li a:before {
        display: block;
        position: relative;
        float: left;
        width: 1px;
        height: 70%;
        margin-top: 15%;
        background-color: rgba(255, 255, 255, 0.3); }
    header#top nav a {
      display: block;
      padding: 10px 15px;
      font-size: 1em;
      text-decoration: none;
      text-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
      color: rgba(255, 255, 255, 0.85); }
      header#top nav a:hover {
        background-color: rgba(255, 255, 255, 0.15);
        text-decoration: none;
        color: #fff; }
  header#top h1 {
    text-align: center;
    font-size: 2.368593037em;
    margin-top: 1.333em;
    margin-bottom: 1.333em; }
  header#top .buttons {
    text-align: center; }
    header#top .buttons .cmi-btn {
      width: 180px;
      color: #f0f0f0;
      background-color: #444; }

#footer {
  margin-top: 1.776889em;
  background-color: #333; }
  #footer .inside-box {
    padding: 1px 0; }
  #footer .links {
    margin-bottom: 20px;
    text-align: center; }
  #footer .disclaimer {
    margin: 20px 50px;
    color: #999;
    text-align: center;
    font-size: 0.7501875469em; }
  #footer hr {
    margin: 0;
    border-top-color: #666; }

#footer-curo-logo {
  position: relative;
  display: block;
  overflow: hidden;
  width: 28px;
  height: 30px;
  margin: 30px auto 30px auto; }

pre.cmi-gh-pages-code {
  margin: 10px 0;
  padding: 10px 10px 10px 20px;
  font-size: 0.75rem;
  line-height: 1.1;
  border-left: 5px solid #EBFFA8;
  color: #616161;
  background-color: #FFFDF4;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*# sourceMappingURL=application.css.map */
