@font-face
  font-family: "Material-Design-Icons"
  src: font-url("mdi/Material-Design-Icons.eot?-g7cqhn")
  src: font-url("mdi/Material-Design-Icons.eot?#iefix-g7cqhn") format("embedded-opentype"), font-url("mdi/Material-Design-Icons.woff?-g7cqhn") format("woff"), font-url("mdi/Material-Design-Icons.ttf?-g7cqhn") format("truetype"), font-url("mdi/Material-Design-Icons.svg?-g7cqhn#Material-Design-Icons") format("svg")
  font-weight: normal
  font-style: normal

=font-face-helper($family, $fileBaseName, $weight, $style, $svgAppendix: '')
  @font-face
    font-family: $family
    src: font-path($fileBaseName + '.eot')
    src: font-path($fileBaseName + '.eot?#iefix') format('embedded-opentype'), font-path($fileBaseName + '.woff') format('woff'), font-path($fileBaseName + '.ttf') format('truetype'), font-path($fileBaseName + '.svg#' + $svgAppendix) format('svg')
    font-weight: $weight
    font-style: $style
