%dom-module{ id: 'cmi-textarea' }
  %template
    %style{ include: 'cmi-input-behavior' }
    %graspi-webcomponent-stylesheet/
    %paper-input-container{ id: 'shadow', :'no-label-float$' => "[[noLabelFloat]]", :'always-float-label' => "[[_computeAlwaysFloatLabel(alwaysFloatLabel,placeholder)]]", :'auto-validate$' => "[[autoValidate]]", :'disabled$' => "[[disabled]]", invalid: "[[invalid]]" }

      %label{ :'hidden$' => "[[!label]]" }= "[[label]]"

      %iron-autogrow-textarea{ id: "input", class: 'paper-input-input', :'bind-value' => "{{value}}", :'autocomplete$' => "[[autocomplete]]", :'autofocus$' => "[[autofocus]]", :'inputmode$' => "[[inputmode]]", :'name$' => "[[name]]", :'placeholder$' => "[[placeholder]]", :'readonly$' => "[[readonly]]", :'required$' => "[[required]]", :'maxlength$' => "[[maxlength]]", :'autocapitalize$' => "[[autocapitalize]]", :'rows$' => "[[rows]]", :'max-rows$' => "[[maxRows]]" }

      %template{ is: 'dom-if', if: "[[errorMessage]]" }
        %paper-input-error= "[[errorMessage]]"

      %template{ is: 'dom-if', if: "[[charCounter]]" }
        %paper-input-char-counter

  %graspi-webcomponent-script/