%cmi-card{ id: 'list-tables', block: true }
  %cmi-card-heading
    %h2.title List Tables
  %cmi-card-content{ :'line-top' => true }

    %cmi-pages-code-box
      %cmi-list-table
        .cmi-list-table-head
          %ul
            %li Column 1
            %li Column 2
            %li Column 4
        .cmi-list-table-body
          %ul
            %li Row 1 - 1
            %li Row 1 - 2
            %li
              %cmi-button{ small: true, filled: true } Button
          %ul
            %li Row 2 - 1
            %li Row 2 - 2
            %li
              %cmi-button{ small: true, filled: true } Button
          %ul
            %li Row 3 - 1
            %li Row 3 - 2
            %li
              %cmi-button{ small: true, filled: true } Button
          %ul
            %li Row 4 - 1
            %li Row 4 - 2
            %li
              %cmi-button{ small: true, filled: true } Button

    %cmi-pages-code-box
      %cmi-list-table
        .cmi-list-table-head
          %ul
            %li Column 1
            %li Column 2
            %li Column 4
        .cmi-list-table-body
          %ul
            %li Row 1 - 1
            %li Row 1 - 2
            %li
              %cmi-button{ small: true, filled: true } Button
          %ul.active
            %li Row 2 - 1
            %li Row 2 - 2
            %li
              %cmi-button{ small: true, filled: true } Button
          %ul.active
            %li Row 3 - 1
            %li Row 3 - 2
            %li
              %cmi-button{ small: true, filled: true } Button
          %ul
            %li Row 4 - 1
            %li Row 4 - 2
            %li
              %cmi-button{ small: true, filled: true } Button
