%cmi-card{ id: 'headlines', block: true }
  %cmi-card-heading
    %h2.title Headlines
  %cmi-card-content{ :'line-top' => true }
    %h3{ is: 'cmi-h3', line: true } Normal
    %cmi-pages-code-box
      %h1{ is: 'cmi-h1' } Headline h1 lined
    %cmi-pages-code-box
      %h2{ is: 'cmi-h2' } Headline h2 lined
    %cmi-pages-code-box
      %h3{ is: 'cmi-h3' } Headline h3 lined
    %cmi-pages-code-box
      %h4{ is: 'cmi-h4' } Headline h4 lined
    %cmi-pages-code-box
      %h5{ is: 'cmi-h5' } Headline h5 lined
    %cmi-pages-code-box
      %h5{ is: 'cmi-h5', right: true } Headline h5 lined
    %cmi-pages-code-box
      %h5{ is: 'cmi-h5', center: true } Headline h5 lined

    %h3{ is: 'cmi-h3', line: true } Lined
    %cmi-pages-code-box
      %h1{ is: 'cmi-h1', line: true } Headline h1 lined
    %cmi-pages-code-box
      %h2{ is: 'cmi-h2', line: true } Headline h2 lined
    %cmi-pages-code-box
      %h3{ is: 'cmi-h3', line: true } Headline h3 lined
    %cmi-pages-code-box
      %h4{ is: 'cmi-h4', line: true } Headline h4 lined
    %cmi-pages-code-box
      %h5{ is: 'cmi-h5', line: true } Headline h5 lined
    %cmi-pages-code-box
      %h5{ is: 'cmi-h5', line: true, right: true } Headline h5 lined
    %cmi-pages-code-box
      %h5{ is: 'cmi-h5', line: true, center: true } Headline h5 lined
