%cmi-card{ id: 'icons', block: true }
  %cmi-card-heading
    %h2.title Icons
  %cmi-card-content{ :'line-top' => true }
    %p
      See google material design icons with community extension:
    %ul
      %a{ is: 'cmi-button-link', href: 'http://materialdesignicons.com/', target: '_blank', title: "materialdesignicons", filled: true, large: true, theme: "primary" } Material Design Icons

    %i.mdi.mdi-bell