+include 'src/doc/shared/_sidebar_main_navigation.haml'

%paper-menu
  %paper-item
    %a{ href: '#icons' } Icons
  %paper-item
    %a{ href: '#headlines' } Headlines
  %paper-item
    %a{ href: '#text' } Text
  %paper-item
    %a{ href: '#buttons' } Buttons
  %paper-item
    %a{ href: '#fab' } FAB
  %paper-item
    %a{ href: 'fab-slide' } FAB Slide
  %paper-item
    %a{ href: '#navbar' } Navbar
  %paper-item
    %a{ href: '#tables' } Tables
  %paper-item
    %a{ href: 'flex-lists' } Flex lists
  %paper-item
    %a{ href: '#cards' } Cards