.grid-container
  .grid-row
    .grid-col-12
      %cmi-card{ block: true }
        %cmi-card-heading
          %h3.title Material design ui extracted from Curo CMS
        %cmi-card-content
          %p.cmi-p
            Most of the ui elements are related to Google`s
            %a{ href: 'http://www.google.com/design/spec/material-design/introduction.html', target: '_blank' } Material Design
            concept and/or use polymer webcomponents.

      +include 'src/doc/sections/index/_icons.haml'
      +include 'src/doc/sections/index/_headlines.haml'
      +include 'src/doc/sections/index/_text.haml'
      +include 'src/doc/sections/index/_navbar.haml'
      +include 'src/doc/sections/index/_flex-lists.haml'
      +include 'src/doc/sections/index/_tables.haml'