%dom-module{ id: 'cmi-card-image' }
  %template
    %graspi-webcomponent-stylesheet/
    %img{ :'hidden$' => "[[!image]]", src: "[[image]]" }
    .content
      %content

  %graspi-webcomponent-script/