%dom-module{ id: 'cmi-button', name: 'cmi-button' }
  %graspi-webcomponent-stylesheet/
  %template
    %paper-ripple

    %paper-material{ elevation: "[[_elevation]]", animated: true, :'class$' => "[[_computeContentClass(receivedFocusFromKeyboard)]]" }
      %content

  %graspi-webcomponent-script/
