!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes", :name => "viewport"}
    %title cmi-toggle-button demo
    %script{:src => "../../webcomponentsjs/webcomponents-lite.js"}
    %link{:href => "../../cmi-doc-code-box/cmi-doc-code-box.html", :rel => "import"}
    %link{:href => "../../cmi-tabs/cmi-tabs.html", :rel => "import"}
    %link{:href => "../../cmi-tabs/cmi-tab.html", :rel => "import"}
    %link{:href => "../cmi-navbar.html", :rel => "import"}
    %link{:href => "../../paper-styles/demo-pages.html", :rel => "import"}

    :css
      .navbar-default .col-left {
        background: #fff;
        padding: 10px;
      }
      .navbar-gray .col-left {
        background: #f0f0f0;
        padding: 10px;
      }

  %body{ unresolved: true }


    .vertical.center-justified.layout

      .vertical-section
        .navbar-gray
          %cmi-doc-code-box
            %cmi-navbar{ :'no-padding' => true }
              %cmi-navbar-content
                %cmi-tabs{ selected: 0 }
                  %cmi-tab{ id: 'general-tab' } General
                  %cmi-tab{ id: 'seo-tab' } Meta / SEO

      .vertical-section
        .navbar-default
          %cmi-doc-code-box
            %cmi-navbar{ :'no-padding' => true }
              %cmi-navbar-content
                %h3 Headline

        .navbar-gray
          %cmi-doc-code-box
            %cmi-navbar
              %cmi-navbar-content
                %h3 Headline

      .vertical-section
        .navbar-default
          %cmi-doc-code-box
            %cmi-navbar{ :'show-hint' => true }
              %cmi-navbar-content
                %h3 Headline
              %cmi-navbar-hint
                My awesome alert message...

        .navbar-gray
          %cmi-doc-code-box
            %cmi-navbar{ :'show-hint' => true }
              %cmi-navbar-content
                %h3 Headline
              %cmi-navbar-hint
                %p My awesome alert message...

      .vertical-section
        .navbar-default
          %cmi-doc-code-box
            %cmi-navbar{ theme: "danger", :'show-hint' => true }
              %cmi-navbar-content
                %h3 Headline
              %cmi-navbar-hint
                %p My awesome alert message...

        .navbar-gray
          %cmi-doc-code-box
            %cmi-navbar{ theme: "danger", :'show-hint' => true }
              %cmi-navbar-content
                %h3 Headline
              %cmi-navbar-hint
                %p My awesome alert message...