%cmi-card{ id: 'tables', block: true }
  %cmi-card-heading
    %h2.title Tables
  %cmi-card-content{ :'line-top' => true }

    %cmi-pages-code-box
      %table{ is: 'cmi-table' }
        %thead
          %tr
            %th Column 1
            %th Column 2
            %th Column 4
        %tbody
          %tr
            %td Row 1 - 1
            %td Row 1 - 2
            %td
              %cmi-button{ small: true, filled: true } Button
          %tr
            %td Row 2 - 1
            %td Row 2 - 2
            %td
              %cmi-button{ small: true, filled: true } Button
          %tr
            %td Row 3 - 1
            %td Row 3 - 2
            %td
              %cmi-button{ small: true, filled: true } Button
          %tr
            %td Row 4 - 1
            %td Row 4 - 2
            %td
              %cmi-button{ small: true, filled: true } Button

    %cmi-pages-code-box
      %table{ is: 'cmi-table' }
        %thead
          %tr
            %th Column 1
            %th Column 2
            %th Column 4
        %tbody
          %tr
            %td Row 1 - 1
            %td Row 1 - 2
            %td
              %cmi-button{ small: true, filled: true } Button
          %tr.active
            %td Row 2 - 1
            %td Row 2 - 2
            %td
              %cmi-button{ small: true, filled: true } Button
          %tr.active
            %td Row 3 - 1
            %td Row 3 - 2
            %td
              %cmi-button{ small: true, filled: true } Button
          %tr
            %td Row 4 - 1
            %td Row 4 - 2
            %td
              %cmi-button{ small: true, filled: true } Button
