%dom-module{ id: 'cmi-h1', name: 'cmi-h1' }
  %template
    %style{ include: 'cmi-headlines-behavior' }
    %graspi-webcomponent-stylesheet/
    .h-line
    .h-inner
      %content

  %graspi-webcomponent-script/
