- content_for(:title, 'Curo Material Interface - imprint')
- content_for(:html_description, '')
- content_for(:html_keywords, '')
- content_for(:html_robots, 'index,follow')

- content_for(:headline, 'CMI - Imprint')


.grid-container
  .grid-row
    .grid-col-4.grid-col-offset-2
      %p
        Hillig &amp; Schrot wonderweblabs GbR

      %p
        Schillerpromenade 13
        %br/
        12459 Berlin
        %br/
        Deutschland

    .grid-col-4
      %p
        Geschäftsführung: Sascha Hillig &amp; Alexander Schrot
        Steuernummer: 36/346/00553

    .grid-col-12
      %p
        Datenschutz
        %br/
        Gemäß des Bundesdatenschutzgesetzes und gestützt auf die Datenschutzgesetzgebung hat jede Person Anspruch auf Schutz ihres Persönlichkeitsrechts sowie auf Schutz vor Missbrauch ihrer persönlichen Daten. Hillig &amp; Schrot wonderweblabs GbR hält diese Bestimmungen ein. Wenn dies nicht der Fall ist, bitten wir um sofortige Inkenntnissetzung. Sofern innerhalb unseres Internetauftritts die Möglichkeit zur Eingabe persönlicher und geschäftlicher Daten besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. Hillig &amp; Schrot wonderweblabs GbR ist bestrebt, den Webauftritt möglichst benutzerfreundlich zu gestalten. Daher können eventuell Daten aus Ihrem Rechner erfasst und gespeichert werden. Alle von uns erfassten Daten werden absolut und streng vertraulich behandelt und nicht an Dritte weitergegeben.

      %p
        Rechtliches
        %br/
        Die gesamten Inhalte unterliegen urheberrechtlichen Schutz. Sie dürfen ohne ausdrückliche schriftliche Genehmigung des Herausgebers Hillig &amp; Schrot wonderweblabs GbR in keiner Form reproduziert oder unter Verwendung elektronischer Systeme verarbeitet, vervielfältigt oder verbreitet werden.
        %br/
        Design und Inhalt © 2012 - 2015 Hillig &amp; Schrot wonderweblabs GbR
        %br/
        Für alle Links auf wonderweblabs.com gilt: Hillig &amp; Schrot wonderweblabs GbR hat unter Umständen keinerlei Einfluss auf die Gestaltung und den Inhalt dieser Seiten. Hiermit distanziert sich Hillig &amp; Schrot wonderweblabs GbR ausdrücklich von allen Inhalten außerhalb von wonderweblabs.com. Falls wir rechtswidrige Inhalte verlinkt haben, informieren Sie uns bitte umgehend!