%link{ rel: 'import', href: '../polymer/polymer.html' }
-# %link{ rel: 'import', href: '../iron-a11y-keys-behavior/iron-a11y-keys-behavior.html' }
-# %link{ rel: 'import', href: '../iron-selector/iron-selectable.html' }
-# %link{ rel: 'import', href: '../cmi-radio-button/cmi-radio-button.html' }

/
  <cmi-menu-behavior></cmi-menu-behavior>

  @group CMI Elements
  @element cmi-menu-behavior
  @demo demo/index.html

%dom-module{ id: 'cmi-menu-behavior' }
  %link{ rel: 'import', type: 'css', href: './cmi-menu-behavior.css' }
  %script{ src: './cmi-menu-behavior.js' }