.grid-row
  .grid-col-12
    %cmi-card{ block: true }
      %cmi-card-content{ :'line-top' => true }
        %h1 Buttons

    %cmi-card{ id: 'button', block: true }
      %cmi-card-heading
        %h1.title Button
      %cmi-card-content{ :'line-top' => true }
        +include 'src/sections/buttons/_buttons.haml'

    %cmi-card{ id: 'fab', block: true }
      %cmi-card-heading
        %h1.title FAB
      %cmi-card-content{ :'line-top' => true }
        +include 'src/sections/buttons/_fab.haml'

    %cmi-card{ id: 'fab-slide', block: true }
      %cmi-card-heading
        %h1.title FAB Slide
      %cmi-card-content{ :'line-top' => true }
        +include 'src/sections/buttons/_fab_slide.haml'