%dom-module{ id: 'cmi-card' }
  %template
    %graspi-webcomponent-stylesheet/
    %paper-material{ id: 'shadow', :'animated$' => "[[animatedShadow]]", elevation: "[[elevation]]" }
      %content

  %graspi-webcomponent-script/
