%link{ rel: 'import', href: '../polymer/polymer.html' }
%link{ rel: 'import', href: '../iron-a11y-keys-behavior/iron-a11y-keys-behavior.html' }
%link{ rel: 'import', href: '../iron-icons/iron-icons.html' }
%link{ rel: 'import', href: '../iron-selector/iron-multi-selectable.html' }
%link{ rel: 'import', href: '../iron-behaviors/iron-button-state.html' }
%link{ rel: 'import', href: '../iron-behaviors/iron-control-state.html' }
%link{ rel: 'import', href: '../iron-dropdown/iron-dropdown.html' }
%link{ rel: 'import', href: '../paper-ripple/paper-ripple.html' }
%link{ rel: 'import', href: '../paper-material/paper-material.html' }
%link{ rel: 'import', href: '../paper-behaviors/paper-button-behavior.html' }
%link{ rel: 'import', href: '../cmi-menu-button/cmi-menu-button.html' }
%link{ rel: 'import', href: '../cmi-input/cmi-input.html' }


/
  <cmi-dropdown-menu>My Button</cmi-dropdown-menu>

  @group CMI Elements
  @element cmi-dropdown-menu
  @demo demo/index.html

%dom-module{ id: 'cmi-dropdown-menu' }
  %link{ rel: 'import', type: 'css', href: './cmi-dropdown-menu.css' }
  %template
    %cmi-menu-button{ id: 'menuButton',
                      disabled: "[[disabled]]",
                      opened: "{{opened}}",
                      :'horizontal-align' => "right",
                      :'no-animations' => "[[noAnimations]]",
                      :'on-iron-select' => "_onIronSelect",
                      :'vertical-align' => "top",
                      :'vertical-offset' => "[[_computeMenuVerticalOffset(noLabelFloat)]]" }
      .dropdown-trigger
        %paper-ripple
        %cmi-input{ id: 'input',
                    disabled: "[[disabled]]",
                    label: "[[label]]",
                    placeholder: "[[placeholder]]",
                    readonly: true,
                    value: "[[selectedItemLabel]]",
                    :'always-float-label' => "[[alwaysFloatLabel]]",
                    :'no-label-float' => "[[noLabelFloat]]" }
          %iron-icon{ icon: "arrow-drop-down", suffix: "" }
      %content{ id: 'content', select: ".dropdown-content" }

  %script{ src: './cmi-dropdown-menu.js' }