%dom-module{ id: 'cmi-dropdown-menu' }
  %graspi-webcomponent-stylesheet/
  %template
    %cmi-menu-button{ id: "menuButton", :'vertical-align' => "top", :'horizontal-align' => "right", :'vertical-offset' => "[[_computeMenuVerticalOffset(noLabelFloat)]]", disabled: "[[disabled]]", :'no-animations' => "[[noAnimations]]", :'on-iron-activate' => "_onIronActivate", opened: "{{opened}}" }
      .dropdown-trigger
        %paper-ripple
        %cmi-input{ readonly: true, disabled: "[[disabled]]", value: "[[selectedItemLabel]]", placeholder: "[[placeholder]]", :'always-float-label' => "[[alwaysFloatLabel]]", :'no-label-float' => "[[noLabelFloat]]", label: "[[label]]" }
          %iron-icon{ icon: 'arrow-drop-down', suffix: true }
      .dropdown-content
        %content{ select: ".dropdown-content" }

  %graspi-webcomponent-script/