%dom-module#cmi-navbar
  %template
    %graspi-webcomponent-stylesheet/
    .cmi-navbar-content-container
      %content{ select: "cmi-navbar-content" }

    .cmi-navbar-content-hint-container
      %content{ select: 'cmi-navbar-hint' }

  %graspi-webcomponent-script/