%link{ rel: 'import', href: '../polymer/polymer.html' }
%link{ rel: 'import', href: '../prism-element/prism-import.html' }

/
  <cmi-doc-code-box><p>Your code here</p></cmi-doc-code-box>

  @group CMI Doc Elements
  @element cmi-doc-code-box
  @demo demo/index.html

%dom-module{ id: 'cmi-doc-code-box' }
  %link{ rel: 'import', type: 'css', href: './cmi-doc-code-box.css' }
  %template
    .grid-row
      %div{ :'class$' => "[[_computeLeftColClasses(leftCols)]]" }
        %content

      %div{ :'class$' => "[[_computeRightColClasses(rightCols)]]" }
        %pre.cmi-gh-pages-code
          %code#code

  %script{ src: './cmi-doc-code-box.js' }