:root {
  /* POLYMER-MIXIN --cmi-button-paper-ripple-defaults */ }

--cmi-button-paper-ripple-defaults {
  color: rgba(0, 0, 0, 0.3);
  z-index: 1; }

:root {
  /* POLYMER-MIXIN --cmi-button-paper-material-defaults */ }

--cmi-button-paper-material-defaults {
  font-weight: inherit;
  border-radius: inherit; }

:root {
  /* POLYMER-MIXIN --cmi-button-paper-material-keyboard-focused-defaults */ }

--cmi-button-paper-material-keyboard-focused-defaults {
  font-weight: bold; }

:root {
  /* POLYMER-MIXIN --cmi-button-defaults */ }

--cmi-button-defaults {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  z-index: 0;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  outline: none;
  cursor: pointer; }

:root {
  /* POLYMER-MIXIN --cmi-button-inner-defaults */ }

--cmi-button-inner-defaults {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  z-index: 0;
  color: var(--cmi-button-text-color, #424242); }

:root {
  /* POLYMER-MIXIN --cmi-button-raised-defaults */ }

:root {
  /* POLYMER-MIXIN --cmi-button-raised-inner-defaults */ }

:root {
  /* POLYMER-MIXIN --cmi-button-primary-defaults */ }

:root {
  /* POLYMER-MIXIN --cmi-button-primary-inner-defaults */ }

--cmi-button-primary-inner-defaults {
  color: var(--cmi-color-primary, #afd23e); }

:root {
  /* POLYMER-MIXIN --cmi-button-highlight-defaults */ }

:root {
  /* POLYMER-MIXIN --cmi-button-highlight-inner-defaults */ }

--cmi-button-highlight-inner-defaults {
  color: var(--cmi-color-highlight, #FF3064); }

:root {
  /* POLYMER-MIXIN --cmi-button-danger-defaults */ }

:root {
  /* POLYMER-MIXIN --cmi-button-danger-inner-defaults */ }

--cmi-button-danger-inner-defaults {
  color: var(--cmi-color-danger, #e2231e); }

:root {
  /* POLYMER-MIXIN --cmi-button-small-defaults */ }

--cmi-button-small-defaults {
  font-size: 90%; }

:root {
  /* POLYMER-MIXIN --cmi-button-small-inner-defaults */ }

:root {
  /* POLYMER-MIXIN --cmi-button-large-defaults */ }

--cmi-button-large-defaults {
  font-size: 115%; }

:root {
  /* POLYMER-MIXIN --cmi-button-large-inner-defaults */ }

:root {
  /* POLYMER-MIXIN --cmi-button-filled-defaults */ }

:root {
  /* POLYMER-MIXIN --cmi-button-filled-inner-defaults */ }

--cmi-button-filled-inner-defaults {
  background-color: var(--cmi-button-background-filled, rgba(0, 0, 0, 0.05)); }

:root {
  /* POLYMER-MIXIN --cmi-button-filled-primary-defaults */ }

:root {
  /* POLYMER-MIXIN --cmi-button-filled-primary-inner-defaults */ }

--cmi-button-filled-primary-inner-defaults {
  background-color: var(--cmi-button-background-filled-primary, #afd23e);
  color: var(--cmi-button-text-filled-primary, #424242); }

:root {
  /* POLYMER-MIXIN --cmi-button-filled-highlight-defaults */ }

:root {
  /* POLYMER-MIXIN --cmi-button-filled-highlight-inner-defaults */ }

--cmi-button-filled-highlight-inner-defaults {
  background-color: var(--cmi-button-background-filled-highlight, #FF3064);
  color: var(--cmi-button-text-filled-highlight, #424242); }

:root {
  /* POLYMER-MIXIN --cmi-button-filled-highlight-ripple-defaults */ }

--cmi-button-filled-highlight-ripple-defaults {
  color: var(--cmi-color-ripple-light, white); }

:root {
  /* POLYMER-MIXIN --cmi-button-filled-danger-defaults */ }

:root {
  /* POLYMER-MIXIN --cmi-button-filled-danger-inner-defaults */ }

--cmi-button-filled-danger-inner-defaults {
  background-color: var(--cmi-button-background-filled-danger, #e2231e);
  color: var(--cmi-button-text-filled-danger, #f5f5f5); }

:root {
  /* POLYMER-MIXIN --cmi-button-filled-danger-ripple-defaults */ }

--cmi-button-filled-danger-ripple-defaults {
  color: var(--cmi-color-ripple-light, white); }

:root {
  /* POLYMER-MIXIN --cmi-button-noink-defaults */ }

:root {
  /* POLYMER-MIXIN --cmi-button-noink-paper-ripple-defaults */ }

--cmi-button-noink-paper-ripple-defaults {
  display: none; }

:root {
  /* POLYMER-MIXIN --cmi-button-disabled-defaults */ }

--cmi-button-disabled-defaults {
  color: #a8a8a8;
  cursor: auto;
  pointer-events: none; }

:root {
  /* POLYMER-MIXIN --cmi-button-disabled-inner-defaults */ }

--cmi-button-disabled-inner-defaults {
  background-color: var(--cmi-button-disabled-color, rgba(26, 26, 26, 0.05));
  color: var(--cmi-button-disabled-text-color, #c2c2c2); }

/*# sourceMappingURL=cmi-button-behavior.css.map */
